@{
    ViewData["Title"] = "About Us";
}
<h2 class="text-center">About Us</h2>
<hr>
<h4>Author:</h4>
<p>Boryana Boyanova</p>
<h4>Country:</h4>
<p>Bulgaria</p>
<h4>Email address:</h4>
<p>boryana.k.boyanova@gmail.com</p>

