@using BookShopCourseWork.Areas.Identity.Pages.Account.Manage;
@{
    Layout = "~/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
    ViewData["Title"] = "View Orders";
    ViewData["ActivePage"] = ManageNavPages.ViewOrders;
}
@model List<Order>
<h4>View orders</h4>