@using BookShopCourseWork.Models;
@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" href="~/Identity/Account/Manage/Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" href="~/Identity/Account/Manage/ChangePassword">Password</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ViewOrdersNavClass(ViewContext)" id="view-orders" href="~/Order/ViewOrders">View orders</a></li>
</ul>