@{
    ViewData["Title"] = "Admin panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
  <div class="col-lg-3">
    <div class="card text-center mt-3 ml-3 mr-2">
      <div id="accordion">
        <div class="card bg-primary">
          <div class="card-header" id="headingOne">
            <button class="btn btn-primary text-secondary" style="font-size: 15px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
             <i class="fas fa-star"></i> Books
            </button>
          </div>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body text-left">
            <a class="nav-item nav-link has-icon nav-link-faded text-primary">
                <i class="fas fa-book"></i> Create book
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="col-md-8 mt-3 card" style="margin-left:30px; margin-right:30px" id="tabContent">
    @RenderBody()
  </div>
</div>