@{
    ViewData["Title"] = "Admin panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using BookShopCourseWork.Views.Admin;
<div class="row">
  <div class="col-lg-3">
    <div class="card text-center mt-3 ml-3 mr-2">
      <div id="accordion">
        <div class="card bg-primary">
          <div class="card-header" id="headingOne">
            <button class="btn btn-primary text-secondary" style="font-size: 15px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
             <i class="fas fa-star"></i> Books
            </button>
          </div>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body text-left">
            <a class="nav-link @AdminNav.CreateBookNavClass(ViewContext)" asp-controller="Admin" asp-action="CreateBook">
                <i class="fas fa-book"></i> Create book
            </a>
             <a class="nav-link @AdminNav.EditBookNavClass(ViewContext)" asp-controller="Admin" asp-action="EditBook">
                <i class="fas fa-book"></i> Edit book
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="col-md-8 mt-3 card ml-3 mr-3" id="tabContent">
    @RenderBody()
  </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}