@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Edit book";
    ViewData["ActivePage"] = "EditBook";
}
<div class="mt-3 ml-3 mr-3 mb-3">
    <h4>Edit book</h4>
    <hr>
    <div class="row">
    </div>

</div>